body {
    background-color: black;
    background-image: url(../images/stars.jpg);
    font-family: 'Orbitron', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
    text-shadow: 2px 2px 10px white;
}

.jumbotron {
    background-image: url(../images/deadspacelogo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 180px;
    text-align: center;
    color: black;
}

.container {
    width: 100%;
    opacity: .8;
 /*   margin-top: -10px; */
}

.timeRemaining {
    color: white;
}

.info {
    color: white;
}

@media only screen and (max-width: 900px) {
    .jumbotron {
        background-image: url(../images/deadspacelogo.jpg);
    }
  }